extends layout

block content
  h1= item.about.name

  - days = records.subjects[item.about.subject]
  - calendar = item.calendar
  // pre: code= JSON.stringify(days, null, 2)

  .calendar
    each date, index in calendar
      .day
        - day = days[index]
        .date
          .day-of-week= strftime('%a', new Date(date))
          .day-of-month= strftime('%e %b', new Date(date))

        .info
          .due.card
            h3 Due
            ul
              each assignment in day.due
                li: a(href="/classes/#{slugify(item.about.name)}/#{slugify(assignment)}")= assignment

          .assigned.card
            h3 Assigned
            ul

              each assignment, name in day.assigned

                li= name

          .plan.card
            h3 Plan
            ul 
              each topic in day.plan
                li!= markdown(topic)
