extends layout

block content
  each period in records.classes
    a.button(href="/classes/#{period.about.name.slugify()}")
      = period.about.name
      - subject = records.subjects[period.about.subject]
