doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    if item && item.about && item.about.name
      title= item.about.name
    else
      title= _path
    != css()
    != js('/')

  body
    header: nav: ul
      li: a(href="/") Home
      each period in records.classes
        li
          a(href="/classes/#{period.about.name.slugify()}") #{period.about.name}

    main
      block content

