@require 'jeet'
@require 'axis'
@require 'rupture'
@require '_settings'
@require 'stylus-sol/_sol'

*, *::before, *::after
  box-sizing: border-box

normalize-css()
base()

body
  background-color: light-grey
  padding: 0
  margin: 0

headers = h1, h2, h3, h4, h5, h6

for header in headers
  {header}
    margin: 0

a
  text-decoration: none

main
  margin-top: 50px
  padding: 50px

a.button
  background-color: purple
  @extend $button
  color: white
  elevation: 2

  &:hover, &:focus, &:active
    background-color: lighten(@background-color, 10%)
    elevation: 3

header
  @extend $header
  position: fixed
  background-color: teal

  ul
    display: block
    margin: 0
    padding-left: 0

  li
    display: inline-block

  a
    display: inline-block
    padding: 15px
    color: white
    transition: background-color 0.4s ease

    &:hover
      background-color: black

.day
  clearfix()
  margin-bottom: 20px
  date-width = 60px
  date-margin-right = 30px

  .date
    span: (1/2)
    width: date-width
    margin-right: date-margin-right

    .day-of-week
      // font-weight: bold
      font-size: 30px

    .day-of-month
      font-size: 15px

  .info
    span: (1/2)
    width: s("calc(100% - %s - %s)", date-width, date-margin-right)

    .card
      margin-bottom: column-gutter()

    .due, .assigned
      column(1/2, cycle: 2)
      +below(500px)
        stack()

    .plan
      span: (1)

.card
  @extend $card
