$card
  display: block
  border-radius: 2px
  background-color: white
  padding: 16px
  font-size: 14px
  font-weight: 400
  line-height: 25px
  color: rgba(0, 0, 0, 0.87)

  elevation(2)
  $media
    &$square::before
      content: ""
      display: block
      padding-top: 100%
      //this is the ratio
    &$wide::before
      content: ""
      display: block
      padding-top: 56.25%
      //this is the ratio
    &$square img
      height: 100%
      width: auto
    &$wide img
      width: 100%
      height: auto
    &$square, &$wide
      border-top-right-radius: 2px
      border-top-left-radius: 2px
      overflow: hidden
      display: block
      position: relative
      width: 100%
      img
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0
        overflow: hidden
        left: 50%
        top: 50%
        min-width: 100%
        min-height: 100%
        -webkit-transform: translate(-50%, -50%)
        -ms-transform: translate(-50%, -50%)
        transform: translate(-50%, -50%)
      //end img
    //end square, wide
  //end media
  $action
    margin: 8px 0 8px 8px
  $title
    @extend $text-headline
    padding: 24px 16px 16px
    &:last-child
      padding: 24px 16px
    $subtitle
      padding-top: 12px
      @extend $text-subhead
  $avatar-title
    height: 72px
    padding: 16px
    img
      height: 40px
      width: 40px
      border-radius: 50%
      float: left
      margin-right: 5px
    h1, h2
      font-size: 14px
      line-height: 21px
      font-weight: 400
    h1
      color: rgba(0, 0, 0, 0.87)
    h2
      color: rgba(0, 0, 0, 0.54)
//end card
