$chip
  text-decoration: none
  img
    width: 32px
    height: 32px
    padding: 0
    float: left
    margin: (-8px) 8px 0 -8px
    border-radius: 16px
  display: inline-block
  height: 32px
  color: $black-87
  background-color: $grey-300
  border-radius: 16px
  padding: 8px 12px 8px 8px
  line-height: 16px
