$header
  position: absolute
  width: 100%
  top: 0
  text-align: justify
  elevation(4)

  & *
    transition: all 350ms

  nav, ul, li
    vertical-align: middle
    height: 100%
    padding: 0
    float: left
    margin: 0

  a
    text-decoration: none
    display: inline-block
    padding: 0 15px
    height: 100%
