if $load-icons
  @font-face
    font-family: "Material Design Icons"
    src: url("https://cdn.materialdesignicons.com/1.6.50/fonts/materialdesignicons-webfont.eot?v=1.6.50")
    src: url("https://cdn.materialdesignicons.com/1.6.50/fonts/materialdesignicons-webfont.eot?#iefix&v=1.6.50") format("embedded-opentype"), url("https://cdn.materialdesignicons.com/1.6.50/fonts/materialdesignicons-webfont.woff2?v=1.6.50") format("woff2"), url("https://cdn.materialdesignicons.com/1.6.50/fonts/materialdesignicons-webfont.woff?v=1.6.50") format("woff"), url("https://cdn.materialdesignicons.com/1.6.50/fonts/materialdesignicons-webfont.ttf?v=1.6.50") format("truetype"), url("https://cdn.materialdesignicons.com/1.6.50/fonts/materialdesignicons-webfont.svg?v=1.6.50#materialdesigniconsregular") format("svg")
    font-weight: normal
    font-style: normal
$icons
  display: inline-block
  font: normal normal normal 24px / 1 "Material Design Icons"
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  transform: translate(0, 0)
  &.access-point:before
    content: ""
  &.access-point-network:before
    content: ""
  &.account:before
    content: ""
  &.account-alert:before
    content: ""
  &.account-box:before
    content: ""
  &.account-box-outline:before
    content: ""
  &.account-card-details:before
    content: ""
  &.account-check:before
    content: ""
  &.account-circle:before
    content: ""
  &.account-convert:before
    content: ""
  &.account-key:before
    content: ""
  &.account-location:before
    content: ""
  &.account-minus:before
    content: ""
  &.account-multiple:before
    content: ""
  &.account-multiple-minus:before
    content: ""
  &.account-multiple-outline:before
    content: ""
  &.account-multiple-plus:before
    content: ""
  &.account-network:before
    content: ""
  &.account-off:before
    content: ""
  &.account-outline:before
    content: ""
  &.account-plus:before
    content: ""
  &.account-remove:before
    content: ""
  &.account-search:before
    content: ""
  &.account-settings:before
    content: ""
  &.account-settings-variant:before
    content: ""
  &.account-star:before
    content: ""
  &.account-star-variant:before
    content: ""
  &.account-switch:before
    content: ""
  &.adjust:before
    content: ""
  &.air-conditioner:before
    content: ""
  &.airballoon:before
    content: ""
  &.airplane:before
    content: ""
  &.airplane-landing:before
    content: ""
  &.airplane-off:before
    content: ""
  &.airplane-takeoff:before
    content: ""
  &.airplay:before
    content: ""
  &.alarm:before
    content: ""
  &.alarm-check:before
    content: ""
  &.alarm-multiple:before
    content: ""
  &.alarm-off:before
    content: ""
  &.alarm-plus:before
    content: ""
  &.album:before
    content: ""
  &.alert:before
    content: ""
  &.alert-box:before
    content: ""
  &.alert-circle:before
    content: ""
  &.alert-circle-outline:before
    content: ""
  &.alert-octagon:before
    content: ""
  &.alert-outline:before
    content: ""
  &.alpha:before
    content: ""
  &.alphabetical:before
    content: ""
  &.altimeter:before
    content: ""
  &.amazon:before
    content: ""
  &.amazon-clouddrive:before
    content: ""
  &.ambulance:before
    content: ""
  &.amplifier:before
    content: ""
  &.anchor:before
    content: ""
  &.android:before
    content: ""
  &.android-debug-bridge:before
    content: ""
  &.android-studio:before
    content: ""
  &.animation:before
    content: ""
  &.apple:before
    content: ""
  &.apple-finder:before
    content: ""
  &.apple-ios:before
    content: ""
  &.apple-keyboard-caps:before
    content: ""
  &.apple-keyboard-command:before
    content: ""
  &.apple-keyboard-control:before
    content: ""
  &.apple-keyboard-option:before
    content: ""
  &.apple-keyboard-shift:before
    content: ""
  &.apple-mobileme:before
    content: ""
  &.apple-safari:before
    content: ""
  &.application:before
    content: ""
  &.appnet:before
    content: ""
  &.apps:before
    content: ""
  &.archive:before
    content: ""
  &.arrange-bring-forward:before
    content: ""
  &.arrange-bring-to-front:before
    content: ""
  &.arrange-send-backward:before
    content: ""
  &.arrange-send-to-back:before
    content: ""
  &.arrow-all:before
    content: ""
  &.arrow-bottom-left:before
    content: ""
  &.arrow-bottom-right:before
    content: ""
  &.arrow-compress:before
    content: ""
  &.arrow-compress-all:before
    content: ""
  &.arrow-down:before
    content: ""
  &.arrow-down-bold:before
    content: ""
  &.arrow-down-bold-circle:before
    content: ""
  &.arrow-down-bold-circle-outline:before
    content: ""
  &.arrow-down-bold-hexagon-outline:before
    content: ""
  &.arrow-down-drop-circle:before
    content: ""
  &.arrow-down-drop-circle-outline:before
    content: ""
  &.arrow-expand:before
    content: ""
  &.arrow-expand-all:before
    content: ""
  &.arrow-left:before
    content: ""
  &.arrow-left-bold:before
    content: ""
  &.arrow-left-bold-circle:before
    content: ""
  &.arrow-left-bold-circle-outline:before
    content: ""
  &.arrow-left-bold-hexagon-outline:before
    content: ""
  &.arrow-left-drop-circle:before
    content: ""
  &.arrow-left-drop-circle-outline:before
    content: ""
  &.arrow-right:before
    content: ""
  &.arrow-right-bold:before
    content: ""
  &.arrow-right-bold-circle:before
    content: ""
  &.arrow-right-bold-circle-outline:before
    content: ""
  &.arrow-right-bold-hexagon-outline:before
    content: ""
  &.arrow-right-drop-circle:before
    content: ""
  &.arrow-right-drop-circle-outline:before
    content: ""
  &.arrow-top-left:before
    content: ""
  &.arrow-top-right:before
    content: ""
  &.arrow-up:before
    content: ""
  &.arrow-up-bold:before
    content: ""
  &.arrow-up-bold-circle:before
    content: ""
  &.arrow-up-bold-circle-outline:before
    content: ""
  &.arrow-up-bold-hexagon-outline:before
    content: ""
  &.arrow-up-drop-circle:before
    content: ""
  &.arrow-up-drop-circle-outline:before
    content: ""
  &.assistant:before
    content: ""
  &.at:before
    content: ""
  &.attachment:before
    content: ""
  &.audiobook:before
    content: ""
  &.auto-fix:before
    content: ""
  &.auto-upload:before
    content: ""
  &.autorenew:before
    content: ""
  &.av-timer:before
    content: ""
  &.baby:before
    content: ""
  &.backburger:before
    content: ""
  &.backspace:before
    content: ""
  &.backup-restore:before
    content: ""
  &.bank:before
    content: ""
  &.barcode:before
    content: ""
  &.barcode-scan:before
    content: ""
  &.barley:before
    content: ""
  &.barrel:before
    content: ""
  &.basecamp:before
    content: ""
  &.basket:before
    content: ""
  &.basket-fill:before
    content: ""
  &.basket-unfill:before
    content: ""
  &.battery:before
    content: ""
  &.battery-10:before
    content: ""
  &.battery-20:before
    content: ""
  &.battery-30:before
    content: ""
  &.battery-40:before
    content: ""
  &.battery-50:before
    content: ""
  &.battery-60:before
    content: ""
  &.battery-70:before
    content: ""
  &.battery-80:before
    content: ""
  &.battery-90:before
    content: ""
  &.battery-alert:before
    content: ""
  &.battery-charging:before
    content: ""
  &.battery-charging-100:before
    content: ""
  &.battery-charging-20:before
    content: ""
  &.battery-charging-30:before
    content: ""
  &.battery-charging-40:before
    content: ""
  &.battery-charging-60:before
    content: ""
  &.battery-charging-80:before
    content: ""
  &.battery-charging-90:before
    content: ""
  &.battery-minus:before
    content: ""
  &.battery-negative:before
    content: ""
  &.battery-outline:before
    content: ""
  &.battery-plus:before
    content: ""
  &.battery-positive:before
    content: ""
  &.battery-unknown:before
    content: ""
  &.beach:before
    content: ""
  &.beats:before
    content: ""
  &.beer:before
    content: ""
  &.behance:before
    content: ""
  &.bell:before
    content: ""
  &.bell-off:before
    content: ""
  &.bell-outline:before
    content: ""
  &.bell-plus:before
    content: ""
  &.bell-ring:before
    content: ""
  &.bell-ring-outline:before
    content: ""
  &.bell-sleep:before
    content: ""
  &.beta:before
    content: ""
  &.bible:before
    content: ""
  &.bike:before
    content: ""
  &.bing:before
    content: ""
  &.binoculars:before
    content: ""
  &.bio:before
    content: ""
  &.biohazard:before
    content: ""
  &.bitbucket:before
    content: ""
  &.black-mesa:before
    content: ""
  &.blackberry:before
    content: ""
  &.blender:before
    content: ""
  &.blinds:before
    content: ""
  &.block-helper:before
    content: ""
  &.blogger:before
    content: ""
  &.bluetooth:before
    content: ""
  &.bluetooth-audio:before
    content: ""
  &.bluetooth-connect:before
    content: ""
  &.bluetooth-off:before
    content: ""
  &.bluetooth-settings:before
    content: ""
  &.bluetooth-transfer:before
    content: ""
  &.blur:before
    content: ""
  &.blur-linear:before
    content: ""
  &.blur-off:before
    content: ""
  &.blur-radial:before
    content: ""
  &.bone:before
    content: ""
  &.book:before
    content: ""
  &.book-minus:before
    content: ""
  &.book-multiple:before
    content: ""
  &.book-multiple-variant:before
    content: ""
  &.book-open:before
    content: ""
  &.book-open-page-variant:before
    content: ""
  &.book-open-variant:before
    content: ""
  &.book-plus:before
    content: ""
  &.book-variant:before
    content: ""
  &.bookmark:before
    content: ""
  &.bookmark-check:before
    content: ""
  &.bookmark-music:before
    content: ""
  &.bookmark-outline:before
    content: ""
  &.bookmark-plus:before
    content: ""
  &.bookmark-plus-outline:before
    content: ""
  &.bookmark-remove:before
    content: ""
  &.boombox:before
    content: ""
  &.border-all:before
    content: ""
  &.border-bottom:before
    content: ""
  &.border-color:before
    content: ""
  &.border-horizontal:before
    content: ""
  &.border-inside:before
    content: ""
  &.border-left:before
    content: ""
  &.border-none:before
    content: ""
  &.border-outside:before
    content: ""
  &.border-right:before
    content: ""
  &.border-style:before
    content: ""
  &.border-top:before
    content: ""
  &.border-vertical:before
    content: ""
  &.bowl:before
    content: ""
  &.bowling:before
    content: ""
  &.box:before
    content: ""
  &.box-cutter:before
    content: ""
  &.box-shadow:before
    content: ""
  &.bridge:before
    content: ""
  &.briefcase:before
    content: ""
  &.briefcase-check:before
    content: ""
  &.briefcase-download:before
    content: ""
  &.briefcase-upload:before
    content: ""
  &.brightness-1:before
    content: ""
  &.brightness-2:before
    content: ""
  &.brightness-3:before
    content: ""
  &.brightness-4:before
    content: ""
  &.brightness-5:before
    content: ""
  &.brightness-6:before
    content: ""
  &.brightness-7:before
    content: ""
  &.brightness-auto:before
    content: ""
  &.broom:before
    content: ""
  &.brush:before
    content: ""
  &.buffer:before
    content: ""
  &.bug:before
    content: ""
  &.bulletin-board:before
    content: ""
  &.bullhorn:before
    content: ""
  &.bullseye:before
    content: ""
  &.burst-mode:before
    content: ""
  &.bus:before
    content: ""
  &.cached:before
    content: ""
  &.cake:before
    content: ""
  &.cake-layered:before
    content: ""
  &.cake-variant:before
    content: ""
  &.calculator:before
    content: ""
  &.calendar:before
    content: ""
  &.calendar-blank:before
    content: ""
  &.calendar-check:before
    content: ""
  &.calendar-clock:before
    content: ""
  &.calendar-multiple:before
    content: ""
  &.calendar-multiple-check:before
    content: ""
  &.calendar-plus:before
    content: ""
  &.calendar-remove:before
    content: ""
  &.calendar-text:before
    content: ""
  &.calendar-today:before
    content: ""
  &.call-made:before
    content: ""
  &.call-merge:before
    content: ""
  &.call-missed:before
    content: ""
  &.call-received:before
    content: ""
  &.call-split:before
    content: ""
  &.camcorder:before
    content: ""
  &.camcorder-box:before
    content: ""
  &.camcorder-box-off:before
    content: ""
  &.camcorder-off:before
    content: ""
  &.camera:before
    content: ""
  &.camera-enhance:before
    content: ""
  &.camera-front:before
    content: ""
  &.camera-front-variant:before
    content: ""
  &.camera-iris:before
    content: ""
  &.camera-off:before
    content: ""
  &.camera-party-mode:before
    content: ""
  &.camera-rear:before
    content: ""
  &.camera-rear-variant:before
    content: ""
  &.camera-switch:before
    content: ""
  &.camera-timer:before
    content: ""
  &.candle:before
    content: ""
  &.candycane:before
    content: ""
  &.car:before
    content: ""
  &.car-battery:before
    content: ""
  &.car-connected:before
    content: ""
  &.car-wash:before
    content: ""
  &.cards:before
    content: ""
  &.cards-outline:before
    content: ""
  &.cards-playing-outline:before
    content: ""
  &.carrot:before
    content: ""
  &.cart:before
    content: ""
  &.cart-off:before
    content: ""
  &.cart-outline:before
    content: ""
  &.cart-plus:before
    content: ""
  &.case-sensitive-alt:before
    content: ""
  &.cash:before
    content: ""
  &.cash-100:before
    content: ""
  &.cash-multiple:before
    content: ""
  &.cash-usd:before
    content: ""
  &.cast:before
    content: ""
  &.cast-connected:before
    content: ""
  &.castle:before
    content: ""
  &.cat:before
    content: ""
  &.cellphone:before
    content: ""
  &.cellphone-android:before
    content: ""
  &.cellphone-basic:before
    content: ""
  &.cellphone-dock:before
    content: ""
  &.cellphone-iphone:before
    content: ""
  &.cellphone-link:before
    content: ""
  &.cellphone-link-off:before
    content: ""
  &.cellphone-settings:before
    content: ""
  &.certificate:before
    content: ""
  &.chair-school:before
    content: ""
  &.chart-arc:before
    content: ""
  &.chart-areaspline:before
    content: ""
  &.chart-bar:before
    content: ""
  &.chart-bubble:before
    content: ""
  &.chart-gantt:before
    content: ""
  &.chart-histogram:before
    content: ""
  &.chart-line:before
    content: ""
  &.chart-pie:before
    content: ""
  &.chart-scatterplot-hexbin:before
    content: ""
  &.chart-timeline:before
    content: ""
  &.check:before
    content: ""
  &.check-all:before
    content: ""
  &.check-circle:before
    content: ""
  &.check-circle-outline:before
    content: ""
  &.checkbox-blank:before
    content: ""
  &.checkbox-blank-circle:before
    content: ""
  &.checkbox-blank-circle-outline:before
    content: ""
  &.checkbox-blank-outline:before
    content: ""
  &.checkbox-marked:before
    content: ""
  &.checkbox-marked-circle:before
    content: ""
  &.checkbox-marked-circle-outline:before
    content: ""
  &.checkbox-marked-outline:before
    content: ""
  &.checkbox-multiple-blank:before
    content: ""
  &.checkbox-multiple-blank-circle:before
    content: ""
  &.checkbox-multiple-blank-circle-outline:before
    content: ""
  &.checkbox-multiple-blank-outline:before
    content: ""
  &.checkbox-multiple-marked:before
    content: ""
  &.checkbox-multiple-marked-circle:before
    content: ""
  &.checkbox-multiple-marked-circle-outline:before
    content: ""
  &.checkbox-multiple-marked-outline:before
    content: ""
  &.checkerboard:before
    content: ""
  &.chemical-weapon:before
    content: ""
  &.chevron-double-down:before
    content: ""
  &.chevron-double-left:before
    content: ""
  &.chevron-double-right:before
    content: ""
  &.chevron-double-up:before
    content: ""
  &.chevron-down:before
    content: ""
  &.chevron-left:before
    content: ""
  &.chevron-right:before
    content: ""
  &.chevron-up:before
    content: ""
  &.chip:before
    content: ""
  &.church:before
    content: ""
  &.cisco-webex:before
    content: ""
  &.city:before
    content: ""
  &.clipboard:before
    content: ""
  &.clipboard-account:before
    content: ""
  &.clipboard-alert:before
    content: ""
  &.clipboard-arrow-down:before
    content: ""
  &.clipboard-arrow-left:before
    content: ""
  &.clipboard-check:before
    content: ""
  &.clipboard-outline:before
    content: ""
  &.clipboard-text:before
    content: ""
  &.clippy:before
    content: ""
  &.clock:before
    content: ""
  &.clock-alert:before
    content: ""
  &.clock-end:before
    content: ""
  &.clock-fast:before
    content: ""
  &.clock-in:before
    content: ""
  &.clock-out:before
    content: ""
  &.clock-start:before
    content: ""
  &.close:before
    content: ""
  &.close-box:before
    content: ""
  &.close-box-outline:before
    content: ""
  &.close-circle:before
    content: ""
  &.close-circle-outline:before
    content: ""
  &.close-network:before
    content: ""
  &.close-octagon:before
    content: ""
  &.close-octagon-outline:before
    content: ""
  &.closed-caption:before
    content: ""
  &.cloud:before
    content: ""
  &.cloud-check:before
    content: ""
  &.cloud-circle:before
    content: ""
  &.cloud-download:before
    content: ""
  &.cloud-outline:before
    content: ""
  &.cloud-outline-off:before
    content: ""
  &.cloud-print:before
    content: ""
  &.cloud-print-outline:before
    content: ""
  &.cloud-sync:before
    content: ""
  &.cloud-upload:before
    content: ""
  &.code-array:before
    content: ""
  &.code-braces:before
    content: ""
  &.code-brackets:before
    content: ""
  &.code-equal:before
    content: ""
  &.code-greater-than:before
    content: ""
  &.code-greater-than-or-equal:before
    content: ""
  &.code-less-than:before
    content: ""
  &.code-less-than-or-equal:before
    content: ""
  &.code-not-equal:before
    content: ""
  &.code-not-equal-variant:before
    content: ""
  &.code-parentheses:before
    content: ""
  &.code-string:before
    content: ""
  &.code-tags:before
    content: ""
  &.codepen:before
    content: ""
  &.coffee:before
    content: ""
  &.coffee-to-go:before
    content: ""
  &.coin:before
    content: ""
  &.collage:before
    content: ""
  &.color-helper:before
    content: ""
  &.comment:before
    content: ""
  &.comment-account:before
    content: ""
  &.comment-account-outline:before
    content: ""
  &.comment-alert:before
    content: ""
  &.comment-alert-outline:before
    content: ""
  &.comment-check:before
    content: ""
  &.comment-check-outline:before
    content: ""
  &.comment-multiple-outline:before
    content: ""
  &.comment-outline:before
    content: ""
  &.comment-plus-outline:before
    content: ""
  &.comment-processing:before
    content: ""
  &.comment-processing-outline:before
    content: ""
  &.comment-question-outline:before
    content: ""
  &.comment-remove-outline:before
    content: ""
  &.comment-text:before
    content: ""
  &.comment-text-outline:before
    content: ""
  &.compare:before
    content: ""
  &.compass:before
    content: ""
  &.compass-outline:before
    content: ""
  &.console:before
    content: ""
  &.contact-mail:before
    content: ""
  &.content-copy:before
    content: ""
  &.content-cut:before
    content: ""
  &.content-duplicate:before
    content: ""
  &.content-paste:before
    content: ""
  &.content-save:before
    content: ""
  &.content-save-all:before
    content: ""
  &.content-save-settings:before
    content: ""
  &.contrast:before
    content: ""
  &.contrast-box:before
    content: ""
  &.contrast-circle:before
    content: ""
  &.cookie:before
    content: ""
  &.copyright:before
    content: ""
  &.counter:before
    content: ""
  &.cow:before
    content: ""
  &.credit-card:before
    content: ""
  &.credit-card-multiple:before
    content: ""
  &.credit-card-off:before
    content: ""
  &.credit-card-scan:before
    content: ""
  &.crop:before
    content: ""
  &.crop-free:before
    content: ""
  &.crop-landscape:before
    content: ""
  &.crop-portrait:before
    content: ""
  &.crop-square:before
    content: ""
  &.crosshairs:before
    content: ""
  &.crosshairs-gps:before
    content: ""
  &.crown:before
    content: ""
  &.cube:before
    content: ""
  &.cube-outline:before
    content: ""
  &.cube-send:before
    content: ""
  &.cube-unfolded:before
    content: ""
  &.cup:before
    content: ""
  &.cup-off:before
    content: ""
  &.cup-water:before
    content: ""
  &.currency-btc:before
    content: ""
  &.currency-eur:before
    content: ""
  &.currency-gbp:before
    content: ""
  &.currency-inr:before
    content: ""
  &.currency-ngn:before
    content: ""
  &.currency-rub:before
    content: ""
  &.currency-try:before
    content: ""
  &.currency-usd:before
    content: ""
  &.cursor-default:before
    content: ""
  &.cursor-default-outline:before
    content: ""
  &.cursor-move:before
    content: ""
  &.cursor-pointer:before
    content: ""
  &.cursor-text:before
    content: ""
  &.database:before
    content: ""
  &.database-minus:before
    content: ""
  &.database-plus:before
    content: ""
  &.debug-step-into:before
    content: ""
  &.debug-step-out:before
    content: ""
  &.debug-step-over:before
    content: ""
  &.decimal-decrease:before
    content: ""
  &.decimal-increase:before
    content: ""
  &.delete:before
    content: ""
  &.delete-forever:before
    content: ""
  &.delete-sweep:before
    content: ""
  &.delete-variant:before
    content: ""
  &.delta:before
    content: ""
  &.deskphone:before
    content: ""
  &.desktop-mac:before
    content: ""
  &.desktop-tower:before
    content: ""
  &.details:before
    content: ""
  &.deviantart:before
    content: ""
  &.dialpad:before
    content: ""
  &.diamond:before
    content: ""
  &.dice-1:before
    content: ""
  &.dice-2:before
    content: ""
  &.dice-3:before
    content: ""
  &.dice-4:before
    content: ""
  &.dice-5:before
    content: ""
  &.dice-6:before
    content: ""
  &.dice-d20:before
    content: ""
  &.dice-d4:before
    content: ""
  &.dice-d6:before
    content: ""
  &.dice-d8:before
    content: ""
  &.dictionary:before
    content: ""
  &.directions:before
    content: ""
  &.directions-fork:before
    content: ""
  &.discord:before
    content: ""
  &.disk:before
    content: ""
  &.disk-alert:before
    content: ""
  &.disqus:before
    content: ""
  &.disqus-outline:before
    content: ""
  &.division:before
    content: ""
  &.division-box:before
    content: ""
  &.dns:before
    content: ""
  &.domain:before
    content: ""
  &.dots-horizontal:before
    content: ""
  &.dots-vertical:before
    content: ""
  &.download:before
    content: ""
  &.drag:before
    content: ""
  &.drag-horizontal:before
    content: ""
  &.drag-vertical:before
    content: ""
  &.drawing:before
    content: ""
  &.drawing-box:before
    content: ""
  &.dribbble:before
    content: ""
  &.dribbble-box:before
    content: ""
  &.drone:before
    content: ""
  &.dropbox:before
    content: ""
  &.drupal:before
    content: ""
  &.duck:before
    content: ""
  &.dumbbell:before
    content: ""
  &.earth:before
    content: ""
  &.earth-off:before
    content: ""
  &.edge:before
    content: ""
  &.eject:before
    content: ""
  &.elevation-decline:before
    content: ""
  &.elevation-rise:before
    content: ""
  &.elevator:before
    content: ""
  &.email:before
    content: ""
  &.email-open:before
    content: ""
  &.email-open-outline:before
    content: ""
  &.email-outline:before
    content: ""
  &.email-secure:before
    content: ""
  &.email-variant:before
    content: ""
  &.emoticon:before
    content: ""
  &.emoticon-cool:before
    content: ""
  &.emoticon-devil:before
    content: ""
  &.emoticon-happy:before
    content: ""
  &.emoticon-neutral:before
    content: ""
  &.emoticon-poop:before
    content: ""
  &.emoticon-sad:before
    content: ""
  &.emoticon-tongue:before
    content: ""
  &.engine:before
    content: ""
  &.engine-outline:before
    content: ""
  &.equal:before
    content: ""
  &.equal-box:before
    content: ""
  &.eraser:before
    content: ""
  &.eraser-variant:before
    content: ""
  &.escalator:before
    content: ""
  &.ethernet:before
    content: ""
  &.ethernet-cable:before
    content: ""
  &.ethernet-cable-off:before
    content: ""
  &.etsy:before
    content: ""
  &.ev-station:before
    content: ""
  &.evernote:before
    content: ""
  &.exclamation:before
    content: ""
  &.exit-to-app:before
    content: ""
  &.export:before
    content: ""
  &.eye:before
    content: ""
  &.eye-off:before
    content: ""
  &.eyedropper:before
    content: ""
  &.eyedropper-variant:before
    content: ""
  &.face:before
    content: ""
  &.face-profile:before
    content: ""
  &.facebook:before
    content: ""
  &.facebook-box:before
    content: ""
  &.facebook-messenger:before
    content: ""
  &.factory:before
    content: ""
  &.fan:before
    content: ""
  &.fast-forward:before
    content: ""
  &.fax:before
    content: ""
  &.ferry:before
    content: ""
  &.file:before
    content: ""
  &.file-chart:before
    content: ""
  &.file-check:before
    content: ""
  &.file-cloud:before
    content: ""
  &.file-delimited:before
    content: ""
  &.file-document:before
    content: ""
  &.file-document-box:before
    content: ""
  &.file-excel:before
    content: ""
  &.file-excel-box:before
    content: ""
  &.file-export:before
    content: ""
  &.file-find:before
    content: ""
  &.file-hidden:before
    content: ""
  &.file-image:before
    content: ""
  &.file-import:before
    content: ""
  &.file-lock:before
    content: ""
  &.file-multiple:before
    content: ""
  &.file-music:before
    content: ""
  &.file-outline:before
    content: ""
  &.file-pdf:before
    content: ""
  &.file-pdf-box:before
    content: ""
  &.file-powerpoint:before
    content: ""
  &.file-powerpoint-box:before
    content: ""
  &.file-presentation-box:before
    content: ""
  &.file-restore:before
    content: ""
  &.file-send:before
    content: ""
  &.file-tree:before
    content: ""
  &.file-video:before
    content: ""
  &.file-word:before
    content: ""
  &.file-word-box:before
    content: ""
  &.file-xml:before
    content: ""
  &.film:before
    content: ""
  &.filmstrip:before
    content: ""
  &.filmstrip-off:before
    content: ""
  &.filter:before
    content: ""
  &.filter-outline:before
    content: ""
  &.filter-remove:before
    content: ""
  &.filter-remove-outline:before
    content: ""
  &.filter-variant:before
    content: ""
  &.fingerprint:before
    content: ""
  &.fire:before
    content: ""
  &.firefox:before
    content: ""
  &.fish:before
    content: ""
  &.flag:before
    content: ""
  &.flag-checkered:before
    content: ""
  &.flag-outline:before
    content: ""
  &.flag-outline-variant:before
    content: ""
  &.flag-triangle:before
    content: ""
  &.flag-variant:before
    content: ""
  &.flash:before
    content: ""
  &.flash-auto:before
    content: ""
  &.flash-off:before
    content: ""
  &.flashlight:before
    content: ""
  &.flashlight-off:before
    content: ""
  &.flask:before
    content: ""
  &.flask-empty:before
    content: ""
  &.flask-empty-outline:before
    content: ""
  &.flask-outline:before
    content: ""
  &.flattr:before
    content: ""
  &.flip-to-back:before
    content: ""
  &.flip-to-front:before
    content: ""
  &.floppy:before
    content: ""
  &.flower:before
    content: ""
  &.folder:before
    content: ""
  &.folder-account:before
    content: ""
  &.folder-download:before
    content: ""
  &.folder-google-drive:before
    content: ""
  &.folder-image:before
    content: ""
  &.folder-lock:before
    content: ""
  &.folder-lock-open:before
    content: ""
  &.folder-move:before
    content: ""
  &.folder-multiple:before
    content: ""
  &.folder-multiple-image:before
    content: ""
  &.folder-multiple-outline:before
    content: ""
  &.folder-outline:before
    content: ""
  &.folder-plus:before
    content: ""
  &.folder-remove:before
    content: ""
  &.folder-upload:before
    content: ""
  &.food:before
    content: ""
  &.food-apple:before
    content: ""
  &.food-fork-drink:before
    content: ""
  &.food-off:before
    content: ""
  &.food-variant:before
    content: ""
  &.football:before
    content: ""
  &.football-australian:before
    content: ""
  &.football-helmet:before
    content: ""
  &.format-align-center:before
    content: ""
  &.format-align-justify:before
    content: ""
  &.format-align-left:before
    content: ""
  &.format-align-right:before
    content: ""
  &.format-annotation-plus:before
    content: ""
  &.format-bold:before
    content: ""
  &.format-clear:before
    content: ""
  &.format-color-fill:before
    content: ""
  &.format-float-center:before
    content: ""
  &.format-float-left:before
    content: ""
  &.format-float-none:before
    content: ""
  &.format-float-right:before
    content: ""
  &.format-header-1:before
    content: ""
  &.format-header-2:before
    content: ""
  &.format-header-3:before
    content: ""
  &.format-header-4:before
    content: ""
  &.format-header-5:before
    content: ""
  &.format-header-6:before
    content: ""
  &.format-header-decrease:before
    content: ""
  &.format-header-equal:before
    content: ""
  &.format-header-increase:before
    content: ""
  &.format-header-pound:before
    content: ""
  &.format-horizontal-align-center:before
    content: ""
  &.format-horizontal-align-left:before
    content: ""
  &.format-horizontal-align-right:before
    content: ""
  &.format-indent-decrease:before
    content: ""
  &.format-indent-increase:before
    content: ""
  &.format-italic:before
    content: ""
  &.format-line-spacing:before
    content: ""
  &.format-line-style:before
    content: ""
  &.format-line-weight:before
    content: ""
  &.format-list-bulleted:before
    content: ""
  &.format-list-bulleted-type:before
    content: ""
  &.format-list-numbers:before
    content: ""
  &.format-paint:before
    content: ""
  &.format-paragraph:before
    content: ""
  &.format-quote:before
    content: ""
  &.format-size:before
    content: ""
  &.format-strikethrough:before
    content: ""
  &.format-strikethrough-variant:before
    content: ""
  &.format-subscript:before
    content: ""
  &.format-superscript:before
    content: ""
  &.format-text:before
    content: ""
  &.format-textdirection-l-to-r:before
    content: ""
  &.format-textdirection-r-to-l:before
    content: ""
  &.format-title:before
    content: ""
  &.format-underline:before
    content: ""
  &.format-vertical-align-bottom:before
    content: ""
  &.format-vertical-align-center:before
    content: ""
  &.format-vertical-align-top:before
    content: ""
  &.format-wrap-inline:before
    content: ""
  &.format-wrap-square:before
    content: ""
  &.format-wrap-tight:before
    content: ""
  &.format-wrap-top-bottom:before
    content: ""
  &.forum:before
    content: ""
  &.forward:before
    content: ""
  &.foursquare:before
    content: ""
  &.fridge:before
    content: ""
  &.fridge-filled:before
    content: ""
  &.fridge-filled-bottom:before
    content: ""
  &.fridge-filled-top:before
    content: ""
  &.fullscreen:before
    content: ""
  &.fullscreen-exit:before
    content: ""
  &.function:before
    content: ""
  &.gamepad:before
    content: ""
  &.gamepad-variant:before
    content: ""
  &.gas-cylinder:before
    content: ""
  &.gas-station:before
    content: ""
  &.gate:before
    content: ""
  &.gauge:before
    content: ""
  &.gavel:before
    content: ""
  &.gender-female:before
    content: ""
  &.gender-male:before
    content: ""
  &.gender-male-female:before
    content: ""
  &.gender-transgender:before
    content: ""
  &.ghost:before
    content: ""
  &.gift:before
    content: ""
  &.git:before
    content: ""
  &.github-box:before
    content: ""
  &.github-circle:before
    content: ""
  &.glass-flute:before
    content: ""
  &.glass-mug:before
    content: ""
  &.glass-stange:before
    content: ""
  &.glass-tulip:before
    content: ""
  &.glassdoor:before
    content: ""
  &.glasses:before
    content: ""
  &.gmail:before
    content: ""
  &.gnome:before
    content: ""
  &.google:before
    content: ""
  &.google-cardboard:before
    content: ""
  &.google-chrome:before
    content: ""
  &.google-circles:before
    content: ""
  &.google-circles-communities:before
    content: ""
  &.google-circles-extended:before
    content: ""
  &.google-circles-group:before
    content: ""
  &.google-controller:before
    content: ""
  &.google-controller-off:before
    content: ""
  &.google-drive:before
    content: ""
  &.google-earth:before
    content: ""
  &.google-glass:before
    content: ""
  &.google-maps:before
    content: ""
  &.google-nearby:before
    content: ""
  &.google-pages:before
    content: ""
  &.google-physical-web:before
    content: ""
  &.google-play:before
    content: ""
  &.google-plus:before
    content: ""
  &.google-plus-box:before
    content: ""
  &.google-translate:before
    content: ""
  &.google-wallet:before
    content: ""
  &.grease-pencil:before
    content: ""
  &.grid:before
    content: ""
  &.grid-off:before
    content: ""
  &.group:before
    content: ""
  &.guitar-electric:before
    content: ""
  &.guitar-pick:before
    content: ""
  &.guitar-pick-outline:before
    content: ""
  &.hackernews:before
    content: ""
  &.hand-pointing-right:before
    content: ""
  &.hanger:before
    content: ""
  &.hangouts:before
    content: ""
  &.harddisk:before
    content: ""
  &.headphones:before
    content: ""
  &.headphones-box:before
    content: ""
  &.headphones-settings:before
    content: ""
  &.headset:before
    content: ""
  &.headset-dock:before
    content: ""
  &.headset-off:before
    content: ""
  &.heart:before
    content: ""
  &.heart-box:before
    content: ""
  &.heart-box-outline:before
    content: ""
  &.heart-broken:before
    content: ""
  &.heart-outline:before
    content: ""
  &.heart-pulse:before
    content: ""
  &.help:before
    content: ""
  &.help-circle:before
    content: ""
  &.help-circle-outline:before
    content: ""
  &.hexagon:before
    content: ""
  &.hexagon-outline:before
    content: ""
  &.highway:before
    content: ""
  &.history:before
    content: ""
  &.hololens:before
    content: ""
  &.home:before
    content: ""
  &.home-map-marker:before
    content: ""
  &.home-modern:before
    content: ""
  &.home-variant:before
    content: ""
  &.hops:before
    content: ""
  &.hospital:before
    content: ""
  &.hospital-building:before
    content: ""
  &.hospital-marker:before
    content: ""
  &.hotel:before
    content: ""
  &.houzz:before
    content: ""
  &.houzz-box:before
    content: ""
  &.human:before
    content: ""
  &.human-child:before
    content: ""
  &.human-female:before
    content: ""
  &.human-greeting:before
    content: ""
  &.human-handsdown:before
    content: ""
  &.human-handsup:before
    content: ""
  &.human-male:before
    content: ""
  &.human-male-female:before
    content: ""
  &.human-pregnant:before
    content: ""
  &.image:before
    content: ""
  &.image-album:before
    content: ""
  &.image-area:before
    content: ""
  &.image-area-close:before
    content: ""
  &.image-broken:before
    content: ""
  &.image-broken-variant:before
    content: ""
  &.image-filter:before
    content: ""
  &.image-filter-black-white:before
    content: ""
  &.image-filter-center-focus:before
    content: ""
  &.image-filter-center-focus-weak:before
    content: ""
  &.image-filter-drama:before
    content: ""
  &.image-filter-frames:before
    content: ""
  &.image-filter-hdr:before
    content: ""
  &.image-filter-none:before
    content: ""
  &.image-filter-tilt-shift:before
    content: ""
  &.image-filter-vintage:before
    content: ""
  &.image-multiple:before
    content: ""
  &.import:before
    content: ""
  &.inbox:before
    content: ""
  &.incognito:before
    content: ""
  &.information:before
    content: ""
  &.information-outline:before
    content: ""
  &.information-variant:before
    content: ""
  &.instagram:before
    content: ""
  &.instapaper:before
    content: ""
  &.internet-explorer:before
    content: ""
  &.invert-colors:before
    content: ""
  &.jeepney:before
    content: ""
  &.jira:before
    content: ""
  &.jsfiddle:before
    content: ""
  &.json:before
    content: ""
  &.keg:before
    content: ""
  &.kettle:before
    content: ""
  &.key:before
    content: ""
  &.key-change:before
    content: ""
  &.key-minus:before
    content: ""
  &.key-plus:before
    content: ""
  &.key-remove:before
    content: ""
  &.key-variant:before
    content: ""
  &.keyboard:before
    content: ""
  &.keyboard-backspace:before
    content: ""
  &.keyboard-caps:before
    content: ""
  &.keyboard-close:before
    content: ""
  &.keyboard-off:before
    content: ""
  &.keyboard-return:before
    content: ""
  &.keyboard-tab:before
    content: ""
  &.keyboard-variant:before
    content: ""
  &.kodi:before
    content: ""
  &.label:before
    content: ""
  &.label-outline:before
    content: ""
  &.lambda:before
    content: ""
  &.lan:before
    content: ""
  &.lan-connect:before
    content: ""
  &.lan-disconnect:before
    content: ""
  &.lan-pending:before
    content: ""
  &.language-c:before
    content: ""
  &.language-cpp:before
    content: ""
  &.language-csharp:before
    content: ""
  &.language-css3:before
    content: ""
  &.language-html5:before
    content: ""
  &.language-javascript:before
    content: ""
  &.language-php:before
    content: ""
  &.language-python:before
    content: ""
  &.language-python-text:before
    content: ""
  &.laptop:before
    content: ""
  &.laptop-chromebook:before
    content: ""
  &.laptop-mac:before
    content: ""
  &.laptop-windows:before
    content: ""
  &.lastfm:before
    content: ""
  &.launch:before
    content: ""
  &.layers:before
    content: ""
  &.layers-off:before
    content: ""
  &.lead-pencil:before
    content: ""
  &.leaf:before
    content: ""
  &.led-off:before
    content: ""
  &.led-on:before
    content: ""
  &.led-outline:before
    content: ""
  &.led-variant-off:before
    content: ""
  &.led-variant-on:before
    content: ""
  &.led-variant-outline:before
    content: ""
  &.library:before
    content: ""
  &.library-books:before
    content: ""
  &.library-music:before
    content: ""
  &.library-plus:before
    content: ""
  &.lightbulb:before
    content: ""
  &.lightbulb-outline:before
    content: ""
  &.link:before
    content: ""
  &.link-off:before
    content: ""
  &.link-variant:before
    content: ""
  &.link-variant-off:before
    content: ""
  &.linkedin:before
    content: ""
  &.linkedin-box:before
    content: ""
  &.linux:before
    content: ""
  &.lock:before
    content: ""
  &.lock-open:before
    content: ""
  &.lock-open-outline:before
    content: ""
  &.lock-outline:before
    content: ""
  &.lock-plus:before
    content: ""
  &.login:before
    content: ""
  &.login-variant:before
    content: ""
  &.logout:before
    content: ""
  &.logout-variant:before
    content: ""
  &.looks:before
    content: ""
  &.loupe:before
    content: ""
  &.lumx:before
    content: ""
  &.magnet:before
    content: ""
  &.magnet-on:before
    content: ""
  &.magnify:before
    content: ""
  &.magnify-minus:before
    content: ""
  &.magnify-plus:before
    content: ""
  &.mail-ru:before
    content: ""
  &.map:before
    content: ""
  &.map-marker:before
    content: ""
  &.map-marker-circle:before
    content: ""
  &.map-marker-minus:before
    content: ""
  &.map-marker-multiple:before
    content: ""
  &.map-marker-off:before
    content: ""
  &.map-marker-plus:before
    content: ""
  &.map-marker-radius:before
    content: ""
  &.margin:before
    content: ""
  &.markdown:before
    content: ""
  &.marker:before
    content: ""
  &.marker-check:before
    content: ""
  &.martini:before
    content: ""
  &.material-ui:before
    content: ""
  &.math-compass:before
    content: ""
  &.matrix:before
    content: ""
  &.maxcdn:before
    content: ""
  &.medium:before
    content: ""
  &.memory:before
    content: ""
  &.menu:before
    content: ""
  &.menu-down:before
    content: ""
  &.menu-left:before
    content: ""
  &.menu-right:before
    content: ""
  &.menu-up:before
    content: ""
  &.message:before
    content: ""
  &.message-alert:before
    content: ""
  &.message-draw:before
    content: ""
  &.message-image:before
    content: ""
  &.message-outline:before
    content: ""
  &.message-plus:before
    content: ""
  &.message-processing:before
    content: ""
  &.message-reply:before
    content: ""
  &.message-reply-text:before
    content: ""
  &.message-text:before
    content: ""
  &.message-text-outline:before
    content: ""
  &.message-video:before
    content: ""
  &.meteor:before
    content: ""
  &.microphone:before
    content: ""
  &.microphone-off:before
    content: ""
  &.microphone-outline:before
    content: ""
  &.microphone-settings:before
    content: ""
  &.microphone-variant:before
    content: ""
  &.microphone-variant-off:before
    content: ""
  &.microscope:before
    content: ""
  &.microsoft:before
    content: ""
  &.minecraft:before
    content: ""
  &.minus:before
    content: ""
  &.minus-box:before
    content: ""
  &.minus-circle:before
    content: ""
  &.minus-circle-outline:before
    content: ""
  &.minus-network:before
    content: ""
  &.mixcloud:before
    content: ""
  &.monitor:before
    content: ""
  &.monitor-multiple:before
    content: ""
  &.more:before
    content: ""
  &.motorbike:before
    content: ""
  &.mouse:before
    content: ""
  &.mouse-off:before
    content: ""
  &.mouse-variant:before
    content: ""
  &.mouse-variant-off:before
    content: ""
  &.move-resize:before
    content: ""
  &.move-resize-variant:before
    content: ""
  &.movie:before
    content: ""
  &.multiplication:before
    content: ""
  &.multiplication-box:before
    content: ""
  &.music-box:before
    content: ""
  &.music-box-outline:before
    content: ""
  &.music-circle:before
    content: ""
  &.music-note:before
    content: ""
  &.music-note-bluetooth:before
    content: ""
  &.music-note-bluetooth-off:before
    content: ""
  &.music-note-eighth:before
    content: ""
  &.music-note-half:before
    content: ""
  &.music-note-off:before
    content: ""
  &.music-note-quarter:before
    content: ""
  &.music-note-sixteenth:before
    content: ""
  &.music-note-whole:before
    content: ""
  &.nature:before
    content: ""
  &.nature-people:before
    content: ""
  &.navigation:before
    content: ""
  &.near-me:before
    content: ""
  &.needle:before
    content: ""
  &.nest-protect:before
    content: ""
  &.nest-thermostat:before
    content: ""
  &.new-box:before
    content: ""
  &.newspaper:before
    content: ""
  &.nfc:before
    content: ""
  &.nfc-tap:before
    content: ""
  &.nfc-variant:before
    content: ""
  &.nodejs:before
    content: ""
  &.note:before
    content: ""
  &.note-outline:before
    content: ""
  &.note-plus:before
    content: ""
  &.note-plus-outline:before
    content: ""
  &.note-text:before
    content: ""
  &.notification-clear-all:before
    content: ""
  &.numeric:before
    content: ""
  &.numeric-0-box:before
    content: ""
  &.numeric-0-box-multiple-outline:before
    content: ""
  &.numeric-0-box-outline:before
    content: ""
  &.numeric-1-box:before
    content: ""
  &.numeric-1-box-multiple-outline:before
    content: ""
  &.numeric-1-box-outline:before
    content: ""
  &.numeric-2-box:before
    content: ""
  &.numeric-2-box-multiple-outline:before
    content: ""
  &.numeric-2-box-outline:before
    content: ""
  &.numeric-3-box:before
    content: ""
  &.numeric-3-box-multiple-outline:before
    content: ""
  &.numeric-3-box-outline:before
    content: ""
  &.numeric-4-box:before
    content: ""
  &.numeric-4-box-multiple-outline:before
    content: ""
  &.numeric-4-box-outline:before
    content: ""
  &.numeric-5-box:before
    content: ""
  &.numeric-5-box-multiple-outline:before
    content: ""
  &.numeric-5-box-outline:before
    content: ""
  &.numeric-6-box:before
    content: ""
  &.numeric-6-box-multiple-outline:before
    content: ""
  &.numeric-6-box-outline:before
    content: ""
  &.numeric-7-box:before
    content: ""
  &.numeric-7-box-multiple-outline:before
    content: ""
  &.numeric-7-box-outline:before
    content: ""
  &.numeric-8-box:before
    content: ""
  &.numeric-8-box-multiple-outline:before
    content: ""
  &.numeric-8-box-outline:before
    content: ""
  &.numeric-9-box:before
    content: ""
  &.numeric-9-box-multiple-outline:before
    content: ""
  &.numeric-9-box-outline:before
    content: ""
  &.numeric-9-plus-box:before
    content: ""
  &.numeric-9-plus-box-multiple-outline:before
    content: ""
  &.numeric-9-plus-box-outline:before
    content: ""
  &.nutrition:before
    content: ""
  &.octagon:before
    content: ""
  &.octagon-outline:before
    content: ""
  &.odnoklassniki:before
    content: ""
  &.office:before
    content: ""
  &.oil:before
    content: ""
  &.oil-temperature:before
    content: ""
  &.omega:before
    content: ""
  &.onedrive:before
    content: ""
  &.opacity:before
    content: ""
  &.open-in-app:before
    content: ""
  &.open-in-new:before
    content: ""
  &.openid:before
    content: ""
  &.opera:before
    content: ""
  &.ornament:before
    content: ""
  &.ornament-variant:before
    content: ""
  &.outbox:before
    content: ""
  &.owl:before
    content: ""
  &.package:before
    content: ""
  &.package-down:before
    content: ""
  &.package-up:before
    content: ""
  &.package-variant:before
    content: ""
  &.package-variant-closed:before
    content: ""
  &.page-first:before
    content: ""
  &.page-last:before
    content: ""
  &.palette:before
    content: ""
  &.palette-advanced:before
    content: ""
  &.panda:before
    content: ""
  &.pandora:before
    content: ""
  &.panorama:before
    content: ""
  &.panorama-fisheye:before
    content: ""
  &.panorama-horizontal:before
    content: ""
  &.panorama-vertical:before
    content: ""
  &.panorama-wide-angle:before
    content: ""
  &.paper-cut-vertical:before
    content: ""
  &.paperclip:before
    content: ""
  &.parking:before
    content: ""
  &.pause:before
    content: ""
  &.pause-circle:before
    content: ""
  &.pause-circle-outline:before
    content: ""
  &.pause-octagon:before
    content: ""
  &.pause-octagon-outline:before
    content: ""
  &.paw:before
    content: ""
  &.paw-off:before
    content: ""
  &.pen:before
    content: ""
  &.pencil:before
    content: ""
  &.pencil-box:before
    content: ""
  &.pencil-box-outline:before
    content: ""
  &.pencil-lock:before
    content: ""
  &.pencil-off:before
    content: ""
  &.percent:before
    content: ""
  &.pharmacy:before
    content: ""
  &.phone:before
    content: ""
  &.phone-bluetooth:before
    content: ""
  &.phone-classic:before
    content: ""
  &.phone-forward:before
    content: ""
  &.phone-hangup:before
    content: ""
  &.phone-in-talk:before
    content: ""
  &.phone-incoming:before
    content: ""
  &.phone-locked:before
    content: ""
  &.phone-log:before
    content: ""
  &.phone-minus:before
    content: ""
  &.phone-missed:before
    content: ""
  &.phone-outgoing:before
    content: ""
  &.phone-paused:before
    content: ""
  &.phone-plus:before
    content: ""
  &.phone-settings:before
    content: ""
  &.phone-voip:before
    content: ""
  &.pi:before
    content: ""
  &.pi-box:before
    content: ""
  &.pig:before
    content: ""
  &.pill:before
    content: ""
  &.pin:before
    content: ""
  &.pin-off:before
    content: ""
  &.pine-tree:before
    content: ""
  &.pine-tree-box:before
    content: ""
  &.pinterest:before
    content: ""
  &.pinterest-box:before
    content: ""
  &.pizza:before
    content: ""
  &.play:before
    content: ""
  &.play-box-outline:before
    content: ""
  &.play-circle:before
    content: ""
  &.play-circle-outline:before
    content: ""
  &.play-pause:before
    content: ""
  &.play-protected-content:before
    content: ""
  &.playlist-check:before
    content: ""
  &.playlist-minus:before
    content: ""
  &.playlist-play:before
    content: ""
  &.playlist-plus:before
    content: ""
  &.playlist-remove:before
    content: ""
  &.playstation:before
    content: ""
  &.plus:before
    content: ""
  &.plus-box:before
    content: ""
  &.plus-circle:before
    content: ""
  &.plus-circle-multiple-outline:before
    content: ""
  &.plus-circle-outline:before
    content: ""
  &.plus-network:before
    content: ""
  &.plus-one:before
    content: ""
  &.pocket:before
    content: ""
  &.pokeball:before
    content: ""
  &.polaroid:before
    content: ""
  &.poll:before
    content: ""
  &.poll-box:before
    content: ""
  &.polymer:before
    content: ""
  &.pool:before
    content: ""
  &.popcorn:before
    content: ""
  &.pot:before
    content: ""
  &.pot-mix:before
    content: ""
  &.pound:before
    content: ""
  &.pound-box:before
    content: ""
  &.power:before
    content: ""
  &.power-settings:before
    content: ""
  &.power-socket:before
    content: ""
  &.presentation:before
    content: ""
  &.presentation-play:before
    content: ""
  &.printer:before
    content: ""
  &.printer-3d:before
    content: ""
  &.printer-alert:before
    content: ""
  &.priority-high:before
    content: ""
  &.priority-low:before
    content: ""
  &.professional-hexagon:before
    content: ""
  &.projector:before
    content: ""
  &.projector-screen:before
    content: ""
  &.pulse:before
    content: ""
  &.puzzle:before
    content: ""
  &.qqchat:before
    content: ""
  &.qrcode:before
    content: ""
  &.qrcode-scan:before
    content: ""
  &.quadcopter:before
    content: ""
  &.quality-high:before
    content: ""
  &.quicktime:before
    content: ""
  &.radar:before
    content: ""
  &.radiator:before
    content: ""
  &.radio:before
    content: ""
  &.radio-handheld:before
    content: ""
  &.radio-tower:before
    content: ""
  &.radioactive:before
    content: ""
  &.radiobox-blank:before
    content: ""
  &.radiobox-marked:before
    content: ""
  &.raspberrypi:before
    content: ""
  &.ray-end:before
    content: ""
  &.ray-end-arrow:before
    content: ""
  &.ray-start:before
    content: ""
  &.ray-start-arrow:before
    content: ""
  &.ray-start-end:before
    content: ""
  &.ray-vertex:before
    content: ""
  &.rdio:before
    content: ""
  &.read:before
    content: ""
  &.readability:before
    content: ""
  &.receipt:before
    content: ""
  &.record:before
    content: ""
  &.record-rec:before
    content: ""
  &.recycle:before
    content: ""
  &.reddit:before
    content: ""
  &.redo:before
    content: ""
  &.redo-variant:before
    content: ""
  &.refresh:before
    content: ""
  &.regex:before
    content: ""
  &.relative-scale:before
    content: ""
  &.reload:before
    content: ""
  &.remote:before
    content: ""
  &.rename-box:before
    content: ""
  &.repeat:before
    content: ""
  &.repeat-off:before
    content: ""
  &.repeat-once:before
    content: ""
  &.replay:before
    content: ""
  &.reply:before
    content: ""
  &.reply-all:before
    content: ""
  &.reproduction:before
    content: ""
  &.resize-bottom-right:before
    content: ""
  &.responsive:before
    content: ""
  &.rewind:before
    content: ""
  &.ribbon:before
    content: ""
  &.road:before
    content: ""
  &.road-variant:before
    content: ""
  &.rocket:before
    content: ""
  &.rotate-3d:before
    content: ""
  &.rotate-left:before
    content: ""
  &.rotate-left-variant:before
    content: ""
  &.rotate-right:before
    content: ""
  &.rotate-right-variant:before
    content: ""
  &.rounded-corner:before
    content: ""
  &.router-wireless:before
    content: ""
  &.routes:before
    content: ""
  &.rowing:before
    content: ""
  &.rss:before
    content: ""
  &.rss-box:before
    content: ""
  &.ruler:before
    content: ""
  &.run:before
    content: ""
  &.sale:before
    content: ""
  &.satellite:before
    content: ""
  &.satellite-variant:before
    content: ""
  &.saxophone:before
    content: ""
  &.scale:before
    content: ""
  &.scale-balance:before
    content: ""
  &.scale-bathroom:before
    content: ""
  &.school:before
    content: ""
  &.screen-rotation:before
    content: ""
  &.screen-rotation-lock:before
    content: ""
  &.screwdriver:before
    content: ""
  &.script:before
    content: ""
  &.sd:before
    content: ""
  &.seal:before
    content: ""
  &.seat-flat:before
    content: ""
  &.seat-flat-angled:before
    content: ""
  &.seat-individual-suite:before
    content: ""
  &.seat-legroom-extra:before
    content: ""
  &.seat-legroom-normal:before
    content: ""
  &.seat-legroom-reduced:before
    content: ""
  &.seat-recline-extra:before
    content: ""
  &.seat-recline-normal:before
    content: ""
  &.security:before
    content: ""
  &.security-network:before
    content: ""
  &.select:before
    content: ""
  &.select-all:before
    content: ""
  &.select-inverse:before
    content: ""
  &.select-off:before
    content: ""
  &.selection:before
    content: ""
  &.send:before
    content: ""
  &.serial-port:before
    content: ""
  &.server:before
    content: ""
  &.server-minus:before
    content: ""
  &.server-network:before
    content: ""
  &.server-network-off:before
    content: ""
  &.server-off:before
    content: ""
  &.server-plus:before
    content: ""
  &.server-remove:before
    content: ""
  &.server-security:before
    content: ""
  &.settings:before
    content: ""
  &.settings-box:before
    content: ""
  &.shape-circle-plus:before
    content: ""
  &.shape-plus:before
    content: ""
  &.shape-polygon-plus:before
    content: ""
  &.shape-rectangle-plus:before
    content: ""
  &.shape-square-plus:before
    content: ""
  &.share:before
    content: ""
  &.share-variant:before
    content: ""
  &.shield:before
    content: ""
  &.shield-outline:before
    content: ""
  &.shopping:before
    content: ""
  &.shopping-music:before
    content: ""
  &.shredder:before
    content: ""
  &.shuffle:before
    content: ""
  &.shuffle-disabled:before
    content: ""
  &.shuffle-variant:before
    content: ""
  &.sigma:before
    content: ""
  &.sigma-lower:before
    content: ""
  &.sign-caution:before
    content: ""
  &.signal:before
    content: ""
  &.signal-variant:before
    content: ""
  &.silverware:before
    content: ""
  &.silverware-fork:before
    content: ""
  &.silverware-spoon:before
    content: ""
  &.silverware-variant:before
    content: ""
  &.sim:before
    content: ""
  &.sim-alert:before
    content: ""
  &.sim-off:before
    content: ""
  &.sitemap:before
    content: ""
  &.skip-backward:before
    content: ""
  &.skip-forward:before
    content: ""
  &.skip-next:before
    content: ""
  &.skip-next-circle:before
    content: ""
  &.skip-next-circle-outline:before
    content: ""
  &.skip-previous:before
    content: ""
  &.skip-previous-circle:before
    content: ""
  &.skip-previous-circle-outline:before
    content: ""
  &.skype:before
    content: ""
  &.skype-business:before
    content: ""
  &.slack:before
    content: ""
  &.sleep:before
    content: ""
  &.sleep-off:before
    content: ""
  &.smoking:before
    content: ""
  &.smoking-off:before
    content: ""
  &.snapchat:before
    content: ""
  &.snowman:before
    content: ""
  &.soccer:before
    content: ""
  &.sofa:before
    content: ""
  &.sort:before
    content: ""
  &.sort-alphabetical:before
    content: ""
  &.sort-ascending:before
    content: ""
  &.sort-descending:before
    content: ""
  &.sort-numeric:before
    content: ""
  &.sort-variant:before
    content: ""
  &.soundcloud:before
    content: ""
  &.source-branch:before
    content: ""
  &.source-fork:before
    content: ""
  &.source-merge:before
    content: ""
  &.source-pull:before
    content: ""
  &.speaker:before
    content: ""
  &.speaker-off:before
    content: ""
  &.speedometer:before
    content: ""
  &.spellcheck:before
    content: ""
  &.spotify:before
    content: ""
  &.spotlight:before
    content: ""
  &.spotlight-beam:before
    content: ""
  &.spray:before
    content: ""
  &.square-inc:before
    content: ""
  &.square-inc-cash:before
    content: ""
  &.stackexchange:before
    content: ""
  &.stackoverflow:before
    content: ""
  &.stairs:before
    content: ""
  &.star:before
    content: ""
  &.star-circle:before
    content: ""
  &.star-half:before
    content: ""
  &.star-off:before
    content: ""
  &.star-outline:before
    content: ""
  &.steam:before
    content: ""
  &.steering:before
    content: ""
  &.step-backward:before
    content: ""
  &.step-backward-2:before
    content: ""
  &.step-forward:before
    content: ""
  &.step-forward-2:before
    content: ""
  &.stethoscope:before
    content: ""
  &.sticker:before
    content: ""
  &.stocking:before
    content: ""
  &.stop:before
    content: ""
  &.stop-circle:before
    content: ""
  &.stop-circle-outline:before
    content: ""
  &.store:before
    content: ""
  &.store-24-hour:before
    content: ""
  &.stove:before
    content: ""
  &.subdirectory-arrow-left:before
    content: ""
  &.subdirectory-arrow-right:before
    content: ""
  &.subway:before
    content: ""
  &.sunglasses:before
    content: ""
  &.surround-sound:before
    content: ""
  &.swap-horizontal:before
    content: ""
  &.swap-vertical:before
    content: ""
  &.swim:before
    content: ""
  &.switch:before
    content: ""
  &.sword:before
    content: ""
  &.sync:before
    content: ""
  &.sync-alert:before
    content: ""
  &.sync-off:before
    content: ""
  &.tab:before
    content: ""
  &.tab-unselected:before
    content: ""
  &.table:before
    content: ""
  &.table-column-plus-after:before
    content: ""
  &.table-column-plus-before:before
    content: ""
  &.table-column-remove:before
    content: ""
  &.table-column-width:before
    content: ""
  &.table-edit:before
    content: ""
  &.table-large:before
    content: ""
  &.table-row-height:before
    content: ""
  &.table-row-plus-after:before
    content: ""
  &.table-row-plus-before:before
    content: ""
  &.table-row-remove:before
    content: ""
  &.tablet:before
    content: ""
  &.tablet-android:before
    content: ""
  &.tablet-ipad:before
    content: ""
  &.tag:before
    content: ""
  &.tag-faces:before
    content: ""
  &.tag-multiple:before
    content: ""
  &.tag-outline:before
    content: ""
  &.tag-text-outline:before
    content: ""
  &.target:before
    content: ""
  &.taxi:before
    content: ""
  &.teamviewer:before
    content: ""
  &.telegram:before
    content: ""
  &.television:before
    content: ""
  &.television-guide:before
    content: ""
  &.temperature-celsius:before
    content: ""
  &.temperature-fahrenheit:before
    content: ""
  &.temperature-kelvin:before
    content: ""
  &.tennis:before
    content: ""
  &.tent:before
    content: ""
  &.terrain:before
    content: ""
  &.test-tube:before
    content: ""
  &.text-shadow:before
    content: ""
  &.text-to-speech:before
    content: ""
  &.text-to-speech-off:before
    content: ""
  &.textbox:before
    content: ""
  &.texture:before
    content: ""
  &.theater:before
    content: ""
  &.theme-light-dark:before
    content: ""
  &.thermometer:before
    content: ""
  &.thermometer-lines:before
    content: ""
  &.thumb-down:before
    content: ""
  &.thumb-down-outline:before
    content: ""
  &.thumb-up:before
    content: ""
  &.thumb-up-outline:before
    content: ""
  &.thumbs-up-down:before
    content: ""
  &.ticket:before
    content: ""
  &.ticket-account:before
    content: ""
  &.ticket-confirmation:before
    content: ""
  &.tie:before
    content: ""
  &.timelapse:before
    content: ""
  &.timer:before
    content: ""
  &.timer-10:before
    content: ""
  &.timer-3:before
    content: ""
  &.timer-off:before
    content: ""
  &.timer-sand:before
    content: ""
  &.timetable:before
    content: ""
  &.toggle-switch:before
    content: ""
  &.toggle-switch-off:before
    content: ""
  &.tooltip:before
    content: ""
  &.tooltip-edit:before
    content: ""
  &.tooltip-image:before
    content: ""
  &.tooltip-outline:before
    content: ""
  &.tooltip-outline-plus:before
    content: ""
  &.tooltip-text:before
    content: ""
  &.tooth:before
    content: ""
  &.tor:before
    content: ""
  &.traffic-light:before
    content: ""
  &.train:before
    content: ""
  &.tram:before
    content: ""
  &.transcribe:before
    content: ""
  &.transcribe-close:before
    content: ""
  &.transfer:before
    content: ""
  &.translate:before
    content: ""
  &.tree:before
    content: ""
  &.trello:before
    content: ""
  &.trending-down:before
    content: ""
  &.trending-neutral:before
    content: ""
  &.trending-up:before
    content: ""
  &.triangle:before
    content: ""
  &.triangle-outline:before
    content: ""
  &.trophy:before
    content: ""
  &.trophy-award:before
    content: ""
  &.trophy-outline:before
    content: ""
  &.trophy-variant:before
    content: ""
  &.trophy-variant-outline:before
    content: ""
  &.truck:before
    content: ""
  &.truck-delivery:before
    content: ""
  &.tshirt-crew:before
    content: ""
  &.tshirt-v:before
    content: ""
  &.tumblr:before
    content: ""
  &.tumblr-reblog:before
    content: ""
  &.tune:before
    content: ""
  &.tune-vertical:before
    content: ""
  &.twitch:before
    content: ""
  &.twitter:before
    content: ""
  &.twitter-box:before
    content: ""
  &.twitter-circle:before
    content: ""
  &.twitter-retweet:before
    content: ""
  &.ubuntu:before
    content: ""
  &.umbraco:before
    content: ""
  &.umbrella:before
    content: ""
  &.umbrella-outline:before
    content: ""
  &.undo:before
    content: ""
  &.undo-variant:before
    content: ""
  &.unfold-less:before
    content: ""
  &.unfold-more:before
    content: ""
  &.ungroup:before
    content: ""
  &.untappd:before
    content: ""
  &.upload:before
    content: ""
  &.usb:before
    content: ""
  &.vector-arrange-above:before
    content: ""
  &.vector-arrange-below:before
    content: ""
  &.vector-circle:before
    content: ""
  &.vector-circle-variant:before
    content: ""
  &.vector-combine:before
    content: ""
  &.vector-curve:before
    content: ""
  &.vector-difference:before
    content: ""
  &.vector-difference-ab:before
    content: ""
  &.vector-difference-ba:before
    content: ""
  &.vector-intersection:before
    content: ""
  &.vector-line:before
    content: ""
  &.vector-point:before
    content: ""
  &.vector-polygon:before
    content: ""
  &.vector-polyline:before
    content: ""
  &.vector-rectangle:before
    content: ""
  &.vector-selection:before
    content: ""
  &.vector-square:before
    content: ""
  &.vector-triangle:before
    content: ""
  &.vector-union:before
    content: ""
  &.verified:before
    content: ""
  &.vibrate:before
    content: ""
  &.video:before
    content: ""
  &.video-off:before
    content: ""
  &.video-switch:before
    content: ""
  &.view-agenda:before
    content: ""
  &.view-array:before
    content: ""
  &.view-carousel:before
    content: ""
  &.view-column:before
    content: ""
  &.view-dashboard:before
    content: ""
  &.view-day:before
    content: ""
  &.view-grid:before
    content: ""
  &.view-headline:before
    content: ""
  &.view-list:before
    content: ""
  &.view-module:before
    content: ""
  &.view-quilt:before
    content: ""
  &.view-stream:before
    content: ""
  &.view-week:before
    content: ""
  &.vimeo:before
    content: ""
  &.vine:before
    content: ""
  &.violin:before
    content: ""
  &.visualstudio:before
    content: ""
  &.vk:before
    content: ""
  &.vk-box:before
    content: ""
  &.vk-circle:before
    content: ""
  &.vlc:before
    content: ""
  &.voice:before
    content: ""
  &.voicemail:before
    content: ""
  &.volume-high:before
    content: ""
  &.volume-low:before
    content: ""
  &.volume-medium:before
    content: ""
  &.volume-off:before
    content: ""
  &.vpn:before
    content: ""
  &.walk:before
    content: ""
  &.wallet:before
    content: ""
  &.wallet-giftcard:before
    content: ""
  &.wallet-membership:before
    content: ""
  &.wallet-travel:before
    content: ""
  &.wan:before
    content: ""
  &.watch:before
    content: ""
  &.watch-export:before
    content: ""
  &.watch-import:before
    content: ""
  &.water:before
    content: ""
  &.water-off:before
    content: ""
  &.water-percent:before
    content: ""
  &.water-pump:before
    content: ""
  &.watermark:before
    content: ""
  &.weather-cloudy:before
    content: ""
  &.weather-fog:before
    content: ""
  &.weather-hail:before
    content: ""
  &.weather-lightning:before
    content: ""
  &.weather-night:before
    content: ""
  &.weather-partlycloudy:before
    content: ""
  &.weather-pouring:before
    content: ""
  &.weather-rainy:before
    content: ""
  &.weather-snowy:before
    content: ""
  &.weather-sunny:before
    content: ""
  &.weather-sunset:before
    content: ""
  &.weather-sunset-down:before
    content: ""
  &.weather-sunset-up:before
    content: ""
  &.weather-windy:before
    content: ""
  &.weather-windy-variant:before
    content: ""
  &.web:before
    content: ""
  &.webcam:before
    content: ""
  &.webhook:before
    content: ""
  &.wechat:before
    content: ""
  &.weight:before
    content: ""
  &.weight-kilogram:before
    content: ""
  &.whatsapp:before
    content: ""
  &.wheelchair-accessibility:before
    content: ""
  &.white-balance-auto:before
    content: ""
  &.white-balance-incandescent:before
    content: ""
  &.white-balance-iridescent:before
    content: ""
  &.white-balance-sunny:before
    content: ""
  &.wifi:before
    content: ""
  &.wifi-off:before
    content: ""
  &.wii:before
    content: ""
  &.wikipedia:before
    content: ""
  &.window-close:before
    content: ""
  &.window-closed:before
    content: ""
  &.window-maximize:before
    content: ""
  &.window-minimize:before
    content: ""
  &.window-open:before
    content: ""
  &.window-restore:before
    content: ""
  &.windows:before
    content: ""
  &.wordpress:before
    content: ""
  &.worker:before
    content: ""
  &.wrap:before
    content: ""
  &.wrench:before
    content: ""
  &.wunderlist:before
    content: ""
  &.xaml:before
    content: ""
  &.xbox:before
    content: ""
  &.xbox-controller:before
    content: ""
  &.xbox-controller-off:before
    content: ""
  &.xda:before
    content: ""
  &.xing:before
    content: ""
  &.xing-box:before
    content: ""
  &.xing-circle:before
    content: ""
  &.xml:before
    content: ""
  &.yeast:before
    content: ""
  &.yelp:before
    content: ""
  &.youtube-play:before
    content: ""
  &.zip-box:before
    content: ""
