@require 'elevation'
$search
  @extend $search-text
  @extend $search-outer

$search-outer
  border-radius: 2px
  elevation(2)

    // &:focus
    // elevation(3)

$search-text
  height: 40px
  display: block
  background-color: white
  border: none
  outline: none
  padding: 10px
  padding-left: 40px
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20style%3D%22width%3A24px%3Bheight%3A24px%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20fill%3D%22%23888888%22%20d%3D%22M9.5%2C3A6.5%2C6.5%200%200%2C1%2016%2C9.5C16%2C11.11%2015.41%2C12.59%2014.44%2C13.73L14.71%2C14H15.5L20.5%2C19L19%2C20.5L14%2C15.5V14.71L13.73%2C14.44C12.59%2C15.41%2011.11%2C16%209.5%2C16A6.5%2C6.5%200%200%2C1%203%2C9.5A6.5%2C6.5%200%200%2C1%209.5%2C3M9.5%2C5C7%2C5%205%2C7%205%2C9.5C5%2C12%207%2C14%209.5%2C14C12%2C14%2014%2C12%2014%2C9.5C14%2C7%2012%2C5%209.5%2C5Z%22%20%2F%3E%20%3C%2Fsvg%3E")
  background-size: 25px 25px
  background-repeat: no-repeat
  background-origin: padding-box
  background-position: 10px 50%
  transition: 0.35s ease all

// TODO: input[type="search"]::-webkit-search-cancel-button and ::-ms-clear

$text-inputs
  font-family: Roboto, sans-serif
  padding-top: 37.7px
  padding-bottom: 6px
  font-size: 16px
  display: block
  border: none
  border-bottom: solid 1px #999
  transition: 0.35s ease all
  background-color: rgba(255, 255, 255, 0)
  background-image: linear-gradient(to top, $color, $color 2px, rgba(255, 255, 255, 0) 2px)
  background-position: 50% 0
  background-size: 0 100%
  background-repeat: no-repeat
  color: darken($color, 20%)

    &.visited:invalid:not(:focus)
    background-color: rgba(255, 255, 255, 0)
    color: red
    border-color: red
  
    & + label
      color: red

    &:disabled
    border-bottom: dashed 1px gray

    &.empty:not(:focus) + label
    top: -1*21px
    font-size: 16px

    & + label
    margin-bottom: -1*10px
    font-family: Roboto, sans-serif
    color: #999
    font-weight: normal
    position: relative
    pointer-events: none
    transition: 0.35s ease all
    top: -1*44px
    font-size: 12px

    &:required + label::after
    content: "*"

    &:focus
    box-shadow: none
    outline: none
    background-size: 100% 100%
    border-bottom: solid 1px $color
  
    & + label
      color: $color
